@import 'https://fonts.googleapis.com/css?family=Raleway:400,900|Reem+Kufi';

html * {
    font-family: Raleway;
    color: #353535;
    margin: 0;
}

.container {
    margin-bottom: 30px;
}

#topHolder {
    background: 
        linear-gradient(rgba(0,0,0,0.35),  rgba(0,0,0,0.35)),
        url('../img/spread.jpg');
    background-size: cover;
    background-position: bottom; 
    padding-top: 10px;
    font-family: Reem Kufi;
    color: #ffffff;
    text-align: center;
}

.landingNav {
    height: auto;;
}

.otherNav {
    height: 100px;
}

#topHolder h1 {
    margin: 0;
    margin-top: 5px;
    display: inline;
    font-family: Reem Kufi;
    color: #ffffff;
    transition: all 0.3s ease;
}

#topHolder a:hover {
    text-decoration: none;
}

#topHolder h1:hover {
    color: #F42B66;
}

#topHolder h2 {
    font-size: 5rem;
    font-family: Reem Kufi;
    margin-top: 30px;
    margin-bottom: 30px; 
}

#topHolder img {
    max-height: 300px;
}

#navArea {
    text-align: left;
    padding-top: 5px;
}

nav {
    float: right;
    margin-top: 10px;
}

nav li {
    display: inline-block;
    padding-left: 40px;
    padding-right: 40px;
}

nav a {
    font-family: Reem Kufi;
    color: #ffffff;
    font-size: 2.5rem;
    padding-bottom: 0px;
    border-bottom: 2px solid #F42B66;
    transition: all 0.3s ease;
}

nav a:hover {
    text-decoration: none;
    color: #F42B66;
}

.spacer {
    clear: both;
}


/* HOME */

#home {
    text-align: center;
    font-family: Reem Kufi;
    font-size: 2.2rem;
}

#home p {
    font-family: Raleway;
    line-height: 3rem;
    width: 84%;
    margin: auto;
}

#resume {
    background: #ffffff;
    border: 2px solid #F42B66;
    transition: all 0.5s ease-out;
    font-size: 2.2rem;
}

#resume:hover {
    background: #F42B66;
}

#resume a {
    font-family: Raleway;
    color: #F42B66;
    transition: all 0.5s ease-out;
}

#resume a:hover {
    text-decoration: none;
    color: #ffffff;
}

#social {
    margin-top: 30px;
}

#social img {
    width: 40px;
    margin-left: 10px;
    margin-right: 10px;
}


/* MY WORK */

#myWork {
    font-size: 1.8rem;
    width: 80%;
}

#myWork h2 {
    font-family: Reem Kufi;
    text-decoration: underline;
    font-size: 3.5rem;
}

#myWork h3 {
    background:
        linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3) ),
        url(../img/Spread.jpg);
    background-size: cover; 
    background-attachment: fixed; 
    background-position: center;
    color: #ffffff;
    font-family: Reem Kufi;
    text-align: center;
    font-size: 3.5rem;
    padding-top: 15px;
    padding-bottom: 15px; 
}

#myWork a {
    text-align: center;
    display: block;
    transition: all 0.3s ease;
    padding-bottom: 5px;
    color: #353535;
}

#myWork a:hover {
    background-color: #F42B66;
    color: #ffffff;
    text-decoration: none;
}

#myWork h4 {
    font-weight: 900;   
}

.showcase {
    
}

.showcaseItem {
    float: left;
    width: calc(100%/3);
    height: 100%;
    padding: 20px;
    margin-bottom: 20px;
}

.showcaseItem img {
    width: 100%;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
}

.logo-item {
    float: left;
    width: calc(100%/6);
    height: 100%;
    padding: 20px;
    margin-bottom: 20px;
}

#wwtc-mockup-p {
    margin-top: 10px;
}

/* PROJECTS SUBPAGE */
#projects {
    margin-top: 10px;
    text-align: center;
    font-size: 2rem;
} 

#projects h1, #projects h2 {
    font-family: Reem Kufi;
    text-decoration: underline;
    margin-bottom: 30px;
}

#projects h3 {
    font-weight: bold;
    text-align: center;
    display: inline-block;
    padding: 10px;
    background-color: #FFFFFF;
}

#projects ul {
    text-align: left;
}

#projects img {
    width: 100%;
}

#pname {
    text-align: center;
    font-size: 4em;
    font-family: Reem Kufi;
    transition: all 1s;
}

.pBreak {
    background-color: #F42B66;
    height: 5px;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.project-img {
    max-width: 500px;
}

.swatch {
    height: 300px;
}

#mischief-wireframe {
    width: 60%;
}

#view-site {
    background: #ffffff;
    border: 2px solid #F42B66;
    transition: all 0.5s ease-out;
    font-size: 2.2rem;
    margin-top: 20px;
}

#view-site:hover {
    background: #F42B66;
}

#view-site a {
    font-family: Raleway;
    color: #F42B66;
    transition: all 0.5s ease-out;
}

#view-site a:hover {
    text-decoration: none;
    color: #ffffff;
}

#prazologo {
    margin: auto;
    width: 80%;
}

#projects #borrow-logo {
    margin: auto;
    margin-top: 15px;
    margin-bottom: 30px;
    display: block;
    width: 250px;
}

#projects #style-guide {
    margin-top: 20px;
    max-width: 700px;
}

#prazo-preview {
    border: 2px solid #353535;;
}


/* CONTACT */

#contact {
   
}

#contact h1{
    font-size: 3rem;
    font-family: Reem Kufi; 
}

#contact a {
    color: #F42B66;
}

#contact form {
    width: 50%;
    margin: 0 auto;
    
}

#contact input {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    font-family: Raleway;
    font-size: 2rem;
}

#contact textarea {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    font-family: Raleway;
    font-size: 2rem;
    height: 200px;
}

#contact button {
    width: 100%;
    font-family: Raleway;
    font-weight: 900;
    font-size: 2em;
    transition: all 0.3s ease;
    border: 2px solid #F42B66;
    background: #ffffff;
    color: #353535;
}

#contact button:hover {
    background: #F42B66;
}

#contact p {
    font-size: 2rem;
    margin-top: 50px;
}

#contact ul {
    font-size: 2rem;
}

/* PAYMENT */
#payment p{
    font-size: 2rem;
}

#payment form {
    text-align: center;
    margin-top: 50px;
}